.header__content {
    padding: 15px var(--section-padding-x);
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__logo-wrapper {
    width: var(--icon-size-logo-wrapper);
    height: var(--icon-size-logo-wrapper);
    border-radius: var(--radius-logo);
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    transform: translate(10%, 10%);
}

.header__title {
    display: flex;
    flex-direction: column;
}

.theme-switch {
    margin-left: auto;
}

.theme-btn {
    background: var(--secondary);
    border: 1px solid var(--border);
    border-radius: var(--radius-round);
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.theme-btn:hover {
    background-color: var(--border);
}

.theme-btn__icon {
    width: 20px;
    height: 20px;
}

[data-theme="light"] .theme-btn__icon--sun { display: block; }
[data-theme="light"] .theme-btn__icon--moon { display: none; }

[data-theme="dark"] .theme-btn__icon--sun { display: none; }
[data-theme="dark"] .theme-btn__icon--moon { display: block; }

/* Tablets */
@media (max-width: 768px) {
    .header__content {
        gap: 5px;
        padding: 10px var(--section-padding-x-tablet);
    }

    .header__heading {
        font-size: var(--font-size-md);
    }

    .header__description {
        font-size: var(--font-size-p);
    }

    .header__logo-wrapper {
        transform: scale(0.8);
    }
}

/* Mobiles */
@media (max-width: 480px) {
    .header__logo-wrapper {
        transform: scale(0.7);
    }

    .header__content {
        gap: 0;
        padding: 8px var(--section-padding-x-mobile);
    }

    .header__description {
        display: none;
    }
}
