@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Source+Sans+3:wght@300;400;500;600&display=swap');

:root {
    --white: #ffffff;
    --green: #27694d;
    --yellow: #daa520;
    --red: #ef4444;
    --brown: #383129;
    --black: #2a2622;
    
    --title: #2b2622;
    --text: #7c736a;
    --border: #E7E2DA;

    --background: #f7f4ef;
    --card: #fcfaf7;
    --secondary: #eeebe4;
    --shadow: #c4b8a8;
    --favorite: #eaf0ed;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

svg {
    width: 30px;
    height: 30px;
}

h1, h2, h3 {
    color: var(--title);
    font-family: 'Playfair Display', serif;
}

p {
    color: var(--text);
    font-size: 14px;
}

a {
    text-decoration: none;
    color: linktext;
}

.header, .footer {
    min-height: 80px;
    background-color: var(--background);
    box-shadow: inset 0 -1px 0 0 var(--border);
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 1px 0 0 var(--border);
}

.header__content {
    padding: 15px 80px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__logo-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 30%;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    transform: translate(10%, 10%);
}

.header__title {
    display: flex;
    flex-direction: column;
}

.search-section {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 30px;
}

.search-section__subtitle {
    max-width: 450px;
    text-align: center;
}

.search-form {
    display: grid;
    grid-template-columns: 8fr 2fr;
    gap: 10px;
    min-width: 600px;
}

.search-form__field {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
}

.search-logo {
    position: absolute;
    left: 12px;
    pointer-events: none;
    transform: translate(10%, 12%);
}

.search-form__input {
    width: 100%;
    height: 100%;
    padding: 12px 16px 12px 40px;
    border: none;
    border-radius: 10px;
    background-color: var(--white);
}

.search-form__btn {
    background-color: var(--green);
    color: var(--white);
    border: none;
    border-radius: 10px;
}

.catalog {
    display: flex;
    justify-content: space-around;
    flex: 1;
    gap: 20px;
    background-color: var(--background);
    padding: 30px 80px;
}

.results {
    background-color: var(--background);
    flex: 1;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.book {
    background-color: var(--card);
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.book__image-wrapper {
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    flex: 1;
}

.book__image {
    object-fit: cover;
}

.book__info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.book__title {
    color: var(--title);
    font-weight: bold;
}

.book__author {
    font-size: 13px;
}

.book__year {
    font-size: 11px;
}

.book__fav-wrapper {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    margin: 10px;
}

.book__fav-btn {
    transform: translate(11%, 11%);
    width: 20px;
    height: 20px;
}

.book__fav-btn:hover {
    cursor: pointer;
    color: var(--red);
}

.favorites {
    background-color: var(--card);
    min-width: calc(100% / 6);
    border-color: var(--border);
    border-radius: 10px;
}

.favorites__header {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    box-shadow: inset 0 -1px 0 0 var(--border);
}

.favorites__logo-wrapper {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    background-color: var(--favorite);
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorites-logo {
    transform: translate(23%, 23%);
    color: var(--green);
}

.favorites-logo svg {
    stroke: currentColor;
}

.favorites__title-group {
    display: flex;
    flex-direction: column;
}

.favorites__title {
    font-size: 16px;
}

.favorites-item {
    background-color: var(--card);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}

.favorites-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 1px;
    background-color: var(--border);
}

.favorites-item__info {
    display: flex;
}

.favorites-item__image {
    min-height: 100%;
    max-width: 50px;
    border-radius: 10px;
    object-fit: cover;
    margin: 0 10px;
}

.favorites-item__text-info {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.favorites-item__title {
    color: var(--title);
    font-weight: bold;
}

.favorites-item__title, .favorites-item__author, .favorites-item__year {
    font-size: 11px;
}

.favorites-item__fav-wrapper {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    margin: 10px;
}

.favorites-item__fav-btn {
    transform: translate(11%, 11%);
    width: 20px;
    height: 20px;
    color: var(--red);
}
